<h2 class="page-header">Dashboard</h2>
<p id="welcomeMsg">Welcome to your dashboard</p>  

<div class="panel panel-default">
	<div class="panel-body">
		<p><span class="glyphicon glyphicon-cloud-upload"></span> <b>File Uploader</b></p>		
		<div class="progress">
			<div class="progress-bar" role="progressbar"></div>
		</div>
		<button class="btn btn-md upload-btn" type="button">Upload File</button>
	</div>
</div>